/* main container */
.panel {
  width: 300px;
  height: 300px;
  margin: 100px auto;
  position: relative;  
  -webkit-perspective: 1000;
}

/* prevent animation on hover */
.panel:not(:hover) .cards {
  -webkit-animation: CardFlip 5s infinite;
  -webkit-transform-style: preserve-3d;
}

/* increase front card size on hover */
.panel:hover .front {
    -webkit-transform: scale(1.2, 1.2);
}

/* styling divs to be 100% fit */
.panel .cards,
.panel .front,
.panel .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  
/* cards container */
.panel .cards {
  -webkit-transition: all 1s linear;
}
  
/* front card */
.panel .cards .front {
  z-index: 2;
  background: none;
  -webkit-backface-visibility: hidden;
}

/* back card */
.panel .cards .back {
  z-index: 1;
  background: none;
  -webkit-transform: scale(-1, 1);
}


@-webkit-keyframes CardFlip {
  0% {  
    -webkit-transform: rotateY(0deg);
  }
  
  50% {
    -webkit-transform: rotateY(180deg);
  }
  
  100% {  
    -webkit-transform: rotateY(360deg);
  }
}
